[discord]
token=XXXXXXXXXXXXXXXXXXXXXXXX.XXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXX
command_prefix=.

[whitelisted_servers]
name1=XXXXXXXXXXXXXXXXXX
name2=XXXXXXXXXXXXXXXXXX

[biasoftheweek]
winner_role_name=BotW-Winner
nominations_collection=botw_nominations
past_winners_collection=botw_winners
past_winners_time=180

[scheduler]
jobs_collection=jobs

[tags]
tags_collection=tags

[emojiutils]
emoji_channel=XXXXXXXXXXXXXXXXXX

[firebase]
key_file=xxx-firebase-adminsdk-xxx-xxx.json
db_name=xxx