[discord]
token=XXXXXXXXXXXXXXXXXXXXXXXX.XXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXX
command_prefix=.

[whitelisted_servers]
name1=XXXXXXXXXXXXXXXXXX
name2=XXXXXXXXXXXXXXXXXX

[biasoftheweek]
winner_role_name=BotW-Winner
nominations_collection=botw_nominations
past_winners_collection=botw_winners
past_winners_time=180
# [1, 7], 0=sunday, 6=saturday
winner_day=3
botw_channel=XXXXXXXXXXXXXXXXXX
nominations_channel=XXXXXXXXXXXXXXXXXX

[scheduler]
jobs_collection=jobs

[reminders]
reminders_collection=reminders

[tags]
tags_collection=tags

[trolling]
poop_role_name=Poop

[emojiutils]
emoji_channel=XXXXXXXXXXXXXXXXXX

[wolframalpha]
app_id=XXXXXX-XXXXXXXXXX

[firebase]
key_file=xxx-firebase-adminsdk-xxx-xxx.json
db_name=xxx