discord:
  token: 'XXXXXXXXXXXXXXXXXXXXXXXX.XXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXX'
  command_prefix: '.'
  oauth_url: 'https://discord.com/api/oauth2/authorize?client_id=XXXXXXXXXXXXXXXXXX&permissions=XXXXXXXXXX&scope=bot'
postgres:
  connection_string: 'postgresql+asyncpg://user:pw@localhost:5432/db'
  sqlalchemy.url: 'postgresql://user:pw@localhost:5432/db' # for alembic
enabled_cogs:
  - 'jishaku'
  - 'cogs.Utilities'
  - 'cogs.Tags'
  - 'cogs.Reminders'
  - 'cogs.Fun'
  - 'cogs.Mirroring'
  - 'cogs.Instagram'
  - 'cogs.WolframAlpha'
  - 'cogs.UrlShortener'
  - 'cogs.Trolling'
  - 'cogs.Profiles'
  - 'cogs.Weather'
  - 'cogs.EmojiUtils'
  - 'cogs.BiasOfTheWeek'
  - 'cogs.Roles'
  - 'cogs.Greeters'
  - 'cogs.Gfycat'
  - 'cogs.CardGameUtils'
  - 'cogs.Logging'
  - 'cogs.Main'
cogs:
  biasoftheweek:
    winner_role_name: 'BotW-Winner'
    past_winners_time: 180
  wolframalpha:
   app_id: 'XXXXXX-XXXXXXXXXX'
  weather:
    app_id: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
  instagram:
    cookies_file: 'ig_cookies.json'
  gfycat:
    client_id: 'X_XXXXXX'
    client_secret: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
  urlshortener:
    access_token: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
    domain: 'bit.ly'
  trolling:
    poop_role_name: 'Poop'
  cardgameutils:
    enabled_guilds: [XXXXXXXXXXXXXXXXXX, XXXXXXXXXXXXXXXXX]
  twitter:
    consumer_key: 'XXXXXXXXXXXXXXXXXXXXXXXXX'
    consumer_secret: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
    access_token: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
    access_token_secret: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

