aiohttp==3.6.3
astunparse==1.6.3
async-timeout==3.0.1
asyncpg==0.21.0
attrs==20.2.0
braceexpand==0.1.6
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
discord.py==1.5.1
gfypy==1.2.0
git+https://github.com/noahkw/aioscheduler
git+https://github.com/noahkw/gfypy
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/sqlalchemy/sqlalchemy.git@8d588b06d984cb053be53e779cfa11b1d5166f03
greenlet==0.4.17
humanize==3.1.0
idna==2.10
import-expression==1.1.4
jishaku==1.19.2.202
kiwisolver==1.2.0
matplotlib==3.3.2
multidict==4.7.6
numpy==1.19.3
pandas==1.1.4
pendulum==2.1.2
Pillow==8.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pytzdata==2020.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.3
seaborn==0.11.0
six==1.15.0
tqdm==4.51.0
urllib3==1.25.11
yarl==1.5.1
