aiohttp==3.6.2
async-timeout==3.0.1
asyncpg~=0.20.1
attrs==19.3.0
braceexpand==0.1.5
CacheControl==0.12.6
cachetools==4.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dateparser==0.7.4
discord.py==1.5.0
git+https://github.com/noahkw/aioscheduler
git+https://github.com/noahkw/gfypy
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/sqlalchemy/sqlalchemy.git@8d588b06d984cb053be53e779cfa11b1d5166f03
grpcio==1.26.0
httplib2==0.18.1
humanize==0.5.1
idna==2.8
import-expression==1.0.0
jishaku==1.17.1.181
kiwisolver==1.2.0
matplotlib==3.3.1
msgpack==0.6.2
multidict==4.7.4
numpy==1.19.1
pandas==1.1.2
pendulum==2.1.2
Pillow==7.2.0
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
pytzdata==2020.1
regex==2020.5.14
requests==2.22.0
rsa==4.0
scipy==1.5.2
seaborn==0.11.0
six==1.13.0
tqdm==4.48.2
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.7
websockets==6.0
yarl==1.4.2
